# Transforming Complex Data Types in Spark SQL

In this notebook we're going to go through some data transformation examples using Spark SQL. Spark SQL supports many
built-in transformation functions in the module `pyspark.sql.functions` therefore we will start off by importing that.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession\
    .builder\
    .appName("ComplexDataTypes")\
    .getOrCreate()

sc = spark.sparkContext

In [2]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

# Convenience function for turning JSON strings into DataFrames.
def jsonToDataFrame(json, schema=None):
  # SparkSessions are available with Spark 2.0+
  reader = spark.read
  if schema:
    reader.schema(schema)
  return reader.json(sc.parallelize([json]))

<b>Selecting from nested columns</b> - Dots (`"."`) can be used to access nested columns for structs and maps.

In [3]:
# Using a struct
schema = StructType().add("a", StructType().add("b", IntegerType()))
                          
events = jsonToDataFrame("""
{
  "a": {
     "b": 1
  }
}
""", schema)

events.select("a.b").show()

+---+
|  b|
+---+
|  1|
+---+

In [4]:
# Using a map
schema = StructType().add("a", MapType(StringType(), IntegerType()))
                          
events = jsonToDataFrame("""
{
  "a": {
     "b": 1
  }
}
""", schema)

events.select("a.b").show()

+---+
|  b|
+---+
|  1|
+---+

<b>Flattening structs</b> - A star (`"*"`) can be used to select all of the subfields in a struct.

In [5]:
events = jsonToDataFrame("""
{
  "a": {
     "b": 1,
     "c": 2
  }
}
""")

events.select("a.*").show()

+---+---+
|  b|  c|
+---+---+
|  1|  2|
+---+---+

<b>Nesting columns</b> - The `struct()` function or just parentheses in SQL can be used to create a new struct.

In [6]:
events = jsonToDataFrame("""
{
  "a": 1,
  "b": 2,
  "c": 3
}
""")

events.select(struct(col("a").alias("y")).alias("x")).show()

+---+
|  x|
+---+
|[1]|
+---+

<b>Nesting all columns</b> - The star (`"*"`) can also be used to include all columns in a nested struct.

In [7]:
events = jsonToDataFrame("""
{
  "a": 1,
  "b": 2
}
""")

events.select(struct("*").alias("x")).show()

+------+
|     x|
+------+
|[1, 2]|
+------+

<b>Selecting a single array or map element</b> - `getItem()` or square brackets (i.e. `[ ]`) can be used to select a single element out of an array or a map.

In [8]:
events = jsonToDataFrame("""
{
  "a": [1, 2]
}
""")

events.select(col("a").getItem(0).alias("x")).show()

+---+
|  x|
+---+
|  1|
+---+

In [9]:
# Using a map
schema = StructType().add("a", MapType(StringType(), IntegerType()))

events = jsonToDataFrame("""
{
  "a": {
    "b": 1
  }
}
""", schema)

events.select(col("a").getItem("b").alias("x")).show()

+---+
|  x|
+---+
|  1|
+---+

<b>Creating a row for each array or map element</b> - `explode()` can be used to create a new row for each element in an array or each key-value pair.  This is similar to `LATERAL VIEW EXPLODE` in HiveQL.

In [10]:
events = jsonToDataFrame("""
{
  "a": [1, 2]
}
""")

events.select(explode("a").alias("x")).show()

+---+
|  x|
+---+
|  1|
|  2|
+---+

In [11]:
# Using a map
schema = StructType().add("a", MapType(StringType(), IntegerType()))

events = jsonToDataFrame("""
{
  "a": {
    "b": 1,
    "c": 2
  }
}
""", schema)

events.select(explode("a").alias("x", "y")).show()

+---+---+
|  x|  y|
+---+---+
|  b|  1|
|  c|  2|
+---+---+

<b>Collecting multiple rows into an array</b> - `collect_list()` and `collect_set()` can be used to aggregate items into an array.

In [12]:
events = jsonToDataFrame("""
[{ "x": 1 }, { "x": 2 }]
""")

events.select(collect_list("x").alias("x")).show()

+------+
|     x|
+------+
|[1, 2]|
+------+

In [13]:
# using an aggregation
events = jsonToDataFrame("""
[{ "x": 1, "y": "a" }, { "x": 2, "y": "b" },{ "x": 3, "y": "a" }]
""")

events.groupBy("y").agg(collect_list("x").alias("x")).show()

+---+------+
|  y|     x|
+---+------+
|  b|   [2]|
|  a|[1, 3]|
+---+------+

<b>Selecting one field from each item in an array</b> - when you use dot notation on an array we return a new array where that field has been selected from each array element.

In [14]:
events = jsonToDataFrame("""
{
  "a": [
    {"b": 1},
    {"b": 2}
  ]
}
""")

events.select("a.b").show()

+------+
|     b|
+------+
|[1, 2]|
+------+

<b>Convert a group of columns to json</b> - `to_json()` can be used to turn structs into json strings. This method is particularly useful when you would like to re-encode multiple columns into a single one when writing data out to Kafka. This method is not presently available in SQL.

In [15]:
events = jsonToDataFrame("""
{
  "a": {
    "b": 1
  }
}
""")

events.select(to_json("a").alias("c")).show()

+-------+
|      c|
+-------+
|{"b":1}|
+-------+

<b>Parse a column containing json</b> - `from_json()` can be used to turn a string column with json data into a struct. Then you may flatten the struct as described above to have individual columns. This method is not presently available in SQL. 
**This method is available since Spark 2.1**

In [16]:
events = jsonToDataFrame("""
{
  "a": "{\\"b\\":1}"
}
""")

schema = StructType().add("b", IntegerType())
events.select(from_json("a", schema).alias("c")).show()

+---+
|  c|
+---+
|[1]|
+---+

Sometimes you may want to leave a part of the JSON string still as JSON to avoid too much complexity in your schema.

In [17]:
events = jsonToDataFrame("""
{
  "a": "{\\"b\\":{\\"x\\":1,\\"y\\":{\\"z\\":2}}}"
}
""")

schema = StructType().add("b", StructType().add("x", IntegerType())
                            .add("y", StringType()))
events.select(from_json("a", schema).alias("c")).show()

+--------------+
|             c|
+--------------+
|[[1, {"z":2}]]|
+--------------+

<b>Parse a set of fields from a column containing json</b> - `json_tuple()` can be used to extract a fields available in a string column with json data.

In [18]:
events = jsonToDataFrame("""
{
  "a": "{\\"b\\":1}"
}
""")

events.select(json_tuple("a", "b").alias("c")).show()

+---+
|  c|
+---+
|  1|
+---+

<b>Parse a well formed string column</b> - `regexp_extract()` can be used to parse strings using regular expressions.

In [19]:
events = jsonToDataFrame("""
[{ "a": "x: 1" }, { "a": "y: 2" }]
""")

events.select(regexp_extract("a", "([a-z]):", 1).alias("c")).show()

+---+
|  c|
+---+
|  x|
|  y|
+---+